<%%= simple_form_for <%= @singular %>, :url => url, :remote => remote, :html => { :class => 'form-horizontal' } do |f| %>
<%- @atributos.each do |a| -%>
  <%%= f.<%= a.clase == :references ? :association : :input %> :<%= a.nombre %> %>
<%- end -%>

  <div class="controls">
    <%%= f.button :submit, :name => nil, :data => { :disable_with => t('espere') }, :class => 'btn btn-primary' %>
  </div>
<%% end %>
